@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>Project name: School-CalculatorHomework</p>
<p>Description: A console calculator program.</p>

<br />

<p>Project name: School-HangmanHomework</p>
<p>Description: Hangman game in the console.</p>

<br />

<p>Project name: School-Todo</p>
<p>Description: A Todo program.</p>